<div class="container">
  <h1 class="heading"><strong>Services </strong>Demo</h1>

  <button type="button" (click)="getProducts()">View Policies</button>

   <div class='table-responsive'>
          <table class='table'>
              <thead>
                  <tr>
                      <th>Policy_ID</th>
                      <th>Policy_Name</th>
                      <th>Policy_Plan(yearly)</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let product of products;">
                      <td>{{product.productID}}</td>
                      <td>{{product.name}}</td>
                      <td>{{product.price}}</td>
                  </tr>
              </tbody>
          </table>
      </div>

</div>